@import 'tailwindcss';

/* TW DOCS: When defining theme variables that reference other variables, use the inline option */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ubuntu: var(--font-ubuntu);
  --font-vt: var(--font-vt);
}

@theme {
  --animate-appOpen: openApp 2s forwards;
  --animate-appClose: closeApp 2s forwards;
  --animate-fadeIn: fadeIn ease 0.5s 2s forwards;
  --animate-carret: blink 1s infinite 2s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    0.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    50.1% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes openApp {
    0% {
      width: 0%;
      height: 0%;
    }
    40% {
      width: 94%;
      height: 0%;
    }
    70% {
      width: 94%;
      height: 100%;
    }
    100% {
      width: 94%;
      height: 100%;
    }
  }
  @keyframes closeApp {
    0% {
      width: 94%;
      height: 100%;
      width: 0%;
      height: 0%;
    }
    40% {
      width: 94%;
      height: 100%;
    }
    70% {
      width: 94%;
      height: 0%;
    }
    99% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 0%;
      height: 0%;
    }
  }
}